

NET "AddrOrData" LOC = N3;
NET "InstOrData" LOC = E2;

NET "PgrmOrRun" LOC = P11;

NET "ColO[3]" LOC = B7;
NET "ColO[2]" LOC = C5;
NET "ColO[1]" LOC = B6;
NET "ColO[0]" LOC = C6;
NET "RowIn[3]" LOC = B5;
NET "RowIn[2]" LOC = J3;
NET "RowIn[1]" LOC = A3;
NET "RowIn[0]" LOC = B2;

NET "anOut[3]" LOC = K14;
NET "anOut[2]" LOC = M13;
NET "anOut[1]" LOC = J12;
NET "anOut[0]" LOC = F12;
NET "SegOut[7]" LOC = N13;
NET "SegOut[6]" LOC = L14;
NET "SegOut[5]" LOC = H12;
NET "SegOut[4]" LOC = N14;
NET "SegOut[3]" LOC = N11;
NET "SegOut[2]" LOC = P12;
NET "SegOut[1]" LOC = L13;
NET "SegOut[0]" LOC = M12;
NET "ClockIn" LOC = B8;

NET "DebugMode" CLOCK_DEDICATED_ROUTE = FALSE;
NET "DebugMode" LOC = L3;

NET "WriteMem" LOC = A7;
NET "ReadMem" LOC = M4;
NET "QuickReset" LOC = C11;

NET "TickOut[7]" LOC = G1;
  
NET "NegFlag" LOC = P7;
NET "DebugOut" LOC = M11;
NET "DrOut[0]" LOC = M5;

NET "Lda" LOC = P4;
NET "Lca" LOC = N4;
NET "Adi" LOC = N5;
NET "Nop" LOC = P6;
